html {
	scroll-behavior: smooth;
   }
   header {
	height: 100px;
	background-color: lightblue;
	display: grid;
	justify-content: center;
	align-content: center;
   }
   section {
	height: 500px;
	display: grid;
	justify-content: center;
	align-content: center;
	/*分かりやすく背景色*/
	background-color: azure;
   }
   section:nth-child(2n) {
	background-color: lightgoldenrodyellow;   
   }
   .return_top {
	background-color: white;
	color: black;
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	border: solid thin;
	border-radius: 50%;
	display: grid;
	justify-content: center;
	align-content: center;
	transform: rotate(-90deg);
	transition: .4s;
	/*普段は隠しておく*/
	opacity: 0;
	visibility: hidden;
   }
   .return_top.active {
	/*activeが付いたら表示*/
	opacity: 1;
	visibility: visible;
   }